<div id="deleteModal" class="custom-modal">
  <div class="modal-box">

    <div class="modal-header">
      <h5>Konfirmasi Hapus</h5>
    </div>

    <div class="modal-body">
      <p id="modalText"></p>
    </div>

    <form id="deleteForm" method="POST">
      {% csrf_token %}
    </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="closeModal">
        Batal
      </button>
      <button type="submit" form="deleteForm" class="btn btn-danger">
        Hapus
      </button>
    </div>

  </div>
</div>